{% extends "base.html" %}

{% block content %}
<h1 class="title">
    {{ source.name }}
</h1>
<div class="box">
    <div id="saveSourceFailed" class="notification is-danger is-hidden">
        Failed to save the source.
    </div>
    <div id="saveSourceSuccess" class="notification is-success is-hidden">
        Successfully saved the source.
    </div>
    <input id="sourceId" type="hidden" value="{{ source_id }}" />
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Remote</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input id="sourceName" class="input" type="text" name="name" value="{{ source.name }}" /></td>
                <td><input id="sourceDescription" class="input" type="text" name="description" value="{{ source.description }}" /></td>
                <td><input id="sourceRemote" class="input" type="text" name="remote" value="{{ source.remote }}" /></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td class="has-text-right">
                    <button id="saveSourceButton" class="button">Save source</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<h1 class="title">
    Edit actions
</h1>
<div class="box">
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Base action</th>
                <th>Params</th>
            </tr>
        </thead>
        <tbody>
            {% for action in actions %}
            <tr>
                <td>
                    <div class="select is-fullwidth">
                        <select>
                            {% for base_action in base_actions %}
                            {% if base_action['base_class'] == action.base_class %}
                            <option selected>{{ base_action['base_class'] }}</option>
                            {% else %}
                            <option>{{ base_action['base_class'] }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </td>
                <td><input class="input" type="text" name="description" value="{{ action.params }}" /></td>
            </tr>
            {% endfor %}
            <tr>
                <td><button class="button">Add action</button></td>
                <td class="has-text-right"><button class="button">Save changes</button></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}