{% extends "base.html" %}

{% block content %}
<h1 class="title">
    {{ source.name }}
</h1>
<input id="sourceId" type="hidden" value="{{ source_id }}" />
<div class="box">
    <div id="saveSourceFailed" class="notification is-danger is-hidden">
        Failed to save the source.
    </div>
    <div id="saveSourceSuccess" class="notification is-success is-hidden">
        Successfully saved the source.
    </div>
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Remote</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><input id="sourceName" class="input" type="text" name="name" value="{{ source.name }}" /></td>
                <td><input id="sourceDescription" class="input" type="text" name="description" value="{{ source.description }}" /></td>
                <td><input id="sourceRemote" class="input" type="text" name="remote" value="{{ source.remote }}" /></td>
            </tr>

            <tr>
                <td>Scraper:</td>
                <td>
                    <div class="select is-fullwidth">
                        <select id="sourceScraperId">
                            {% for base_scraper in base_scrapers %}
                            {% if base_scraper.id == source.scraper_id %}
                            <option value="{{ base_scraper.id }}" selected>{{ base_scraper.base_class }}</option>
                            {% else %}
                            <option value="{{ base_scraper.id }}">{{ base_scraper.base_class }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </td>
                <td></td>
            </tr>
        </tbody>

        {% for base_scraper in base_scrapers %}
        <tbody id="scraperParams-{{ base_scraper.id }}" {% if base_scraper.id != source.scraper_id %}  class="is-hidden"{% endif %}>
            {% for param in base_scraper.params_order %}
            <tr>
                <td></td>
                <td>{{ param }}:</td>
                <td>
                    <input
                            id="scraperParam-{{ param }}"
                            class="input"
                            type="text"
                            name="{{ param }}"
                            {% if base_scraper.id == source.scraper_id %} value="{{ source.params[param] }}" {% endif %}
                    />
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% endfor %}

        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td class="has-text-right">
                    <button id="saveSourceButton" class="button">Save source</button>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<h1 class="title">
    Edit actions
</h1>
<div class="box">
    <table class="table is-fullwidth is-narrow">
        <thead>
            <tr>
                <th>Base action</th>
                <th>Params</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for action in actions %}
            <tr>
                <td>
                    {{ action.base_class }}
                </td>
                <td>
                    <button id="configureActionButton-{{ action.source_action_id }}" class="button is-fullwidth">Configure action</button>
                </td>
                <td class="has-text-centered"><button id="deleteActionButton-{{ action.source_action_id }}" class="delete is-medium"></button></td>
            </tr>
            {% endfor %}
            <tr>
                <td><button id="addActionButton" class="button">Add action</button></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<section id="modals">
    {% for action in actions %}
    <div id="actionModal-{{ action.source_action_id }}" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Edit {{ action.base_class }}</p>
                <input id="actionId" type="hidden" value="{{ action.id }}" />
                <button id="cancelSaveActionIcon-{{ action.source_action_id }}" class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="content has-text-black">
                    <table id="actionParamsTable-{{ action.source_action_id }}" class="table">
                        <tbody>
                            {% for param in action.params_order %}
                            <tr>
                                <td>{{ param }}:</td>
                                <td>
                                    <input id="actionParamConfig-{{ param }}" type="hidden" value="{{ action.params_config[param] }}" />
                                    {% if param in ['password', 'secret'] %}
                                    <input id="actionParam-{{ param }}" class="input" type="password" name="{{ param }}" placeholder="leave blank to use existing" />
                                    {% elif action.params_config[param] == 'list' %}
                                    <input id="actionParam-{{ param }}" class="input" type="text" name="{{ param }}" value="{{ ', '.join(action.params[param]) }}"/>
                                    {% else %}
                                    <input id="actionParam-{{ param }}" class="input" type="text" name="{{ param }}" value="{{ action.params[param] }}"/>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button id="saveAction-{{ action.source_action_id }}" class="button is-success">Save changes</button>
                <button id="cancelSaveAction-{{ action.source_action_id }}" class="button">Cancel</button>
            </footer>
        </div>
    </div>
    {% endfor %}
    <div id="addActionModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Create new action</p>
                <button id="addActionCancelIcon" class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="content has-text-black">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Base action:</td>
                                <td>
                                    <div class="select">
                                        <select id="addActionBaseClass">
                                        {% for base_action in base_actions %}
                                            <option value="{{ base_action.id }}">{{ base_action.base_class }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </thead>
                        {% for base_action in base_actions %}
                        <tbody id="addActionParamsTable-{{ base_action.id }}" class="is-hidden">
                            {% for param in base_action.params_order %}
                            <tr>
                                <td>
                                    <input id="addActionParamConfig-{{ param }}" type="hidden" value="{{ base_action.params_config[param] }}" />
                                    {{ param }}:
                                </td>
                                <td>
                                    {% if param in ['password', 'secret'] %}
                                    <input id="addActionParam-{{ param }}" class="input" type="password" name="{{ param }}"/>
                                    {% else %}
                                    <input id="addActionParam-{{ param }}" class="input" type="text" name="{{ param }}"/>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button id="addActionSave" class="button is-success">Save changes</button>
                <button id="addActionCancel" class="button">Cancel</button>
            </footer>
        </div>
    </div>
</section>
{% endblock %}
