{% extends "base.html" %}

{% block content %}
<h1 class="title">
    {{ source.name }}
</h1>
<input id="sourceId" type="hidden" value="{{ source_id }}" />
<div class="box">
    <div id="saveSourceFailed" class="notification is-danger is-hidden">
        Failed to save the source.
    </div>
    <div id="saveSourceSuccess" class="notification is-success is-hidden">
        Successfully saved the source.
    </div>
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Remote</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input id="sourceName" class="input" type="text" name="name" value="{{ source.name }}" /></td>
                <td><input id="sourceDescription" class="input" type="text" name="description" value="{{ source.description }}" /></td>
                <td><input id="sourceRemote" class="input" type="text" name="remote" value="{{ source.remote }}" /></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td class="has-text-right">
                    <button id="saveSourceButton" class="button">Save source</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<h1 class="title">
    Edit actions
</h1>
<div class="box">
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Base action</th>
                <th>Params</th>
            </tr>
        </thead>
        <tbody>
            {% for action in actions %}
            <tr>
                <td>

                    <div class="select is-fullwidth">
                        <select>
                            {% for base_action in base_actions %}
                            {% if base_action['base_class'] == action.base_class %}
                            <option selected>{{ base_action['base_class'] }}</option>
                            {% else %}
                            <option>{{ base_action['base_class'] }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </td>
                <td>
                    <input id="actionParamsConfig-{{ action.id }}" type="hidden" value="{{ action.params_config }}" />
                    <button id="configureActionButton-{{ action.id }}" class="button is-fullwidth">Configure action</button>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td><button id="addActionButton" class="button">Add action</button></td>
                <td class="has-text-right"><button class="button">Save changes</button></td>
            </tr>
        </tbody>
    </table>
</div>
<section id="modals">
    {% for action in actions %}
    <div id="actionModal-{{ action.id }}" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Edit {{ action.base_class }}</p>
                <button id="cancelSaveActionIcon-{{ action.id }}" class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="content has-text-black">
                    <textarea id="actionParams-{{ action.id }}" class="textarea" placeholder="{}">{{ action.params }}</textarea>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button id="saveAction-{{ action.id }}" class="button is-success">Save changes</button>
                <button id="cancelSaveAction-{{ action.id }}" class="button">Cancel</button>
            </footer>
        </div>
    </div>
    {% endfor %}
    <div id="addActionModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Create new action</p>
                <button id="addActionCancelIcon" class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="content has-text-black">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Base action:</td>
                                <td>
                                    <select id="addActionBaseClass">
                                    {% for base_action in base_actions %}
                                        <option>{{ base_action['base_class'] }}</option>
                                    {% endfor %}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Parameters:</td>
                                <td>
                                    <textarea id="addActionParams" class="textarea" placeholder="{}"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button id="addActionSave" class="button is-success">Save changes</button>
                <button id="addActionCancel" class="button">Cancel</button>
            </footer>
        </div>
    </div>
</section>
{% endblock %}